# Your First Python Program
Whenever learning a new programming language, typically the first program you learn to write is the so called "Hello World" program. All this program does, is print "Hello World" to the screen (or equivilent).

Below is the python version of "Hello World".

In [11]:
print("Hello World")

Hello World

One line! That's it! 

While the program is small, let's talk about it.

         print ( "Hello World" ) 
           ^   ^       ^       ^
           |   |       |       |
           |   |       |       +-- Closing parenthesis
           |   |       |
           |   |       +-- The string "Hello World"
           |   |
           |   +-- "Opening Parenthesis"
           |
           +-- The function "print" is used to print information to the screen

# Python Basic Types

## Strings
A string is a sequence of characters. It can be someone's name, an address, or anything else that makes sense. A string is enclosed within a set of quotes (either single or double quote, though single quotes are preferred). For example:

In [1]:
name = "Ebenezer Scrooge"
address = "123 Any Street, Anytown, ST 11223"

## Integer Numbers (whole numbers)
An integer number is any number so long as it does not have a fractional part. For instance:

In [2]:
age = 17
zip_code = 11223

## Floating Point or Real Numbers (decimal numbers)
A floating point or real number is any number that has a decimal part. For example:

In [3]:
pi = 3.14159
total_cost = 42.67

## Lists
A list is a collection of related values. For example:

In [8]:
classmates = [
  'Tiny Tim',
  'Silly Sally',
  'Sad Sam',
  'Happy Henry',
]
fruits = [
    'apples',
    'oranges'
    'bananas'
]
zip_codes = [
    11223,
    87643,
    90823,
]

## Dictionary
A dictionary contains a key and a value part, much like a traditional dictionary. For example:

In [9]:
phone_lookup = {
    'Tiny Tim': '(123) 456-789',
    'Silly Sally': '(423) 982-2315',
    'Sad Sam': '(632) 982-5267',
    'Happy Henry': '(865) 814-9872',
}

The 'key' is used to look up the value in the dictionary.

In [ ]:
phone_lookup['Tiny Tim']